<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

<div class="slds-page-header slds-page-header_related-list">
  <div class="slds-page-header__row">
  <div class="slds-page-header__col-title">
  <nav role="navigation" aria-label="Breadcrumbs">
  <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
  <li class="slds-breadcrumb__item">
  <a href="javascript:void(0);">Accounts</a>
  </li>
  <li class="slds-breadcrumb__item">
  <a href="javascript:void(0);">Company One</a>
  </li>
  </ol>
  </nav>
  <div class="slds-media">
  <div class="slds-media__body">
  <div class="slds-page-header__name">
  <div class="slds-page-header__name-title">
  <h1>
  <span class="slds-page-header__title slds-truncate" title="Contacts (will truncate)">Prototype UX Design</span>
  </h1>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="slds-page-header__col-actions">
  <div class="slds-page-header__controls">
  <div class="slds-page-header__control">
  <ul class="slds-button-group-list">
  <li>
  <button class="slds-button slds-button_neutral">Add Contact</button>
  </li>
  <li>
  <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
  <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="More Actions">
  <svg class="slds-button__icon" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
  </svg>
  <span class="slds-assistive-text">More Actions</span>
  </button>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="slds-page-header__row">
  <div class="slds-page-header__col-meta">
  <p class="slds-page-header__meta-text">10 items • sorted by name</p>
  </div>
  <div class="slds-page-header__col-controls">
  <div class="slds-page-header__controls">
  <div class="slds-page-header__control">
  <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
  <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="Change view">
  <svg class="slds-button__icon" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
  </svg>
  <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
  </svg>
  <span class="slds-assistive-text">Change view</span>
  </button>
  </div>
  </div>
  <div class="slds-page-header__control">
  <ul class="slds-button-group-list">
  <li>
  <button class="slds-button slds-button_icon slds-button_icon-border" title="Chart">
  <svg class="slds-button__icon" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
  </svg>
  <span class="slds-assistive-text">Chart</span>
  </button>
  </li>
  <li>
  <button class="slds-button slds-button_icon slds-button_icon-border" title="Filter List">
  <svg class="slds-button__icon" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
  </svg>
  <span class="slds-assistive-text">Filter List</span>
  </button>
  </li>
  <li>
  <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
  <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="Sort List">
  <svg class="slds-button__icon" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#sort"></use>
  </svg>
  <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
  </svg>
  <span class="slds-assistive-text">Sort List</span>
  </button>
  </div>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>

{% endblock %}
